.mainConteiner {
   padding: 15px 18px;
   min-height: max-content;
   min-width: 100%;
   height: 100%;
   width: 100%;
   max-width: 1500px;
   margin: 0px auto 15px;
   max-height: calc(100vh - 68px);
   overflow: auto;
}

.mainConteiner::-webkit-scrollbar {
   background-color: #111;
   max-width: 4px;
}
.mainConteiner::-webkit-scrollbar-thumb {
   background-color: rgba(128, 128, 128, 0.7);
   border-radius: 8px;
}

@media (max-width: 480px) {
   .mainConteiner {
      padding: 15px 10px 50px;
   }
}
