.cardsList {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   height: fit-content;
}

.topicBtn {
   padding: 20px 10px;
   background-color: var(--my-color);
   border-radius: 10px;
   width: 100%;
   height: 100%;
   transition: all 0.2s;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}

@media (hover: hover) {
   .topicBtn:hover {
      filter: brightness(1.2);
      box-shadow: var(--my-color) 0 0px 5px;
   }
}

.topicBtn > span {
   font-size: 30px;
   color: white;
   text-align: center;
}

.invisibleBox {
   height: 120px;
   width: 100%;
}

@media (min-width: 1300px) {
   .cardsList.inMenu {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (max-width: 480px) {
   .cardsList {
      grid-template-columns: repeat(1, 1fr);
   }

   .topicBtn {
      padding: 15px 10px;
      border-radius: 7px;
   }

   .topicBtn > span {
      font-size: 23px;
   }
}
